.heder{
	height: 150px;
	background: #BC1F2A;
}
.heder1{
	height: 80px;
	background: #BC1F2A;
}

.lijevoTijelo{
	color: #14786D;
	font-size: 1.7em;
	text-align:center;
	padding: 3%;
	margin-top: 5%;
}

.desnoTijelo{
	color: #14786D;
	font-size: 1.2em;
	padding: 5%;
}

#reklama {
	width: 500px;
	height: 400px;
	background-color: yellow;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 999;
	text-align: center;
	line-height: 100px;
}

.popis {
	width: 100%;
}

.popis td{
	padding: 10px;
	margin: 10px;
}

.popis tr:hover {
	background-color: #14786D;
}

.futer{
	height: 80px;
	background: #BC1F2A;
	
	width:100%;
	color:#14786D;
	text-align: center;
}

#gumb{
	color:#14786D;
}

.ime{
margin-top:3%;
margin-bottom: 2%;
}

.logo{
text-align: center;
margin-top:2%;
margin-bottom: 2%;
}

.meni {
background: #BC1F2A;
}

.meni a{
color: white;
text-decoration: none;
}